.todo-container{
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5 rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
  background-color: #f9f9f9;
}

.todo-container h2{
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

input{
  width: calc(100% - 110px);
  padding: 0.5rem;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button{
  padding: 0.5rem 0.75rem;
  margin-top: 0.5rem;
  border: none;
  background-color: #007acc;
  color:white;
  cursor: pointer;
  transition: background-color 0.2s;
}
