<div class="container">
  <h2>Gestor de productos</h2>
  <div class="categoria-buttons">
      <button (click)="seleccionarDepartamento('electronica')">Electronica</button>
      <button (click)="seleccionarDepartamento('ropa')">Ropa</button>
      <button (click)="seleccionarDepartamento('alimentos')">Alimentos</button>
  </div>

 <!-- Electronica -->
  <div [ngSwitch]="categoriaSeleccionada">
    <div *ngSwitchCase="'electronica'">
      <h3>Productos Electrónicos</h3>
      <ng-container *ngIf="productos.electronica.length > 0">
        <div *ngFor="let p of productos.electronica"
            [ngClass]="{'agotado':!p.disponible}"
            [ngStyle]="{'color':p.descuento>0?'green':'black'}"
            class="producto">
          {{p.nombre}} - {{p.precio}}
          <span *ngIf="p.descuento > 0">(Descuento {{p.descuento}}%)</span>
          <span *ngIf="!p.disponible">- No disponible</span>
        </div>
      </ng-container>
    </div>

    <div *ngSwitchCase="'ropa'">
      <h3>Productos Ropa</h3>
      <ng-container *ngIf="productos.ropa.length > 0">
        <div *ngFor="let p of productos.ropa"
            [ngClass]="{'agotado':!p.disponible}"
            [ngStyle]="{'color':p.descuento>0?'green':'black'}"
            class="producto">
          {{p.nombre}} - {{p.precio}}
          <span *ngIf="p.descuento > 0">(Descuento {{p.descuento}}%)</span>
          <span *ngIf="!p.disponible">- No disponible</span>
        </div>
      </ng-container>
    </div>

    <div *ngSwitchCase="'alimentos'">
      <h3>Productos Alimentos</h3>
      <ng-container *ngIf="productos.ropa.length > 0">
        <div *ngFor="let p of productos.alimentos"
            [ngClass]="{'agotado':!p.disponible}"
            [ngStyle]="{'color':p.descuento>0?'green':'black'}"
            class="producto">
          {{p.nombre}} - {{p.precio}}
          <span *ngIf="p.descuento > 0">(Descuento {{p.descuento}}%)</span>
          <span *ngIf="!p.disponible">- No disponible</span>
        </div>
      </ng-container>
    </div>

  </div>

</div>
